
h3 {
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    font-weight: 500; 
}

p{
    font-family: 'Lora',serif;
}

.tommy {
    margin: auto;
    text-align: left;
    
    
}

.tommyNama, .ts, .ms{
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem;
}

.ptpim, .ru
    {
    padding-bottom: 0.1rem;
    margin-bottom: 0.1rem;
}

.about {
    margin: auto;
    text-align: left;
}

.skills {
    margin: auto;

}

.pengalaman {
    margin: auto;
    text-align: left;
}

.row {
    padding: 7rem 0rem;
}



.portofolio {
    text-align: center;
    padding-bottom: 2rem;
}


.pict {
    display: flex;

}


.hire {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 12rem;

}

.tommypic {
    height: 300px;
    width: 300px;
    align-items: center;
    margin: auto;
}

.pengalaman img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.peng{
    padding-bottom: 0;
    margin-bottom: 0;
}

.garis{
    border-width: 3px;
    
}

.pim {
    padding: 0rem 2rem;
}

.pim {
    padding: 1.5rem 1rem;
}

.restol {
    padding: 1.5rem 1rem;
}

.buffer {
    height: 20px;
}

.mtp {
    padding-top: 50px;
}

.btn{
    padding: 1rem 2rem;
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
    width: 500px;
    margin: auto;
}